.profilePageContainer {
    height: 93vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    /*background-color: #363b44;*/
}

.profileContainer {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profileInfoContainer {
    width: 100%;
    height: 35%;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    background-color: #454a56;
}

.avatarContainer {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #afcaf1;
}

.textContainer {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: x-large;
}

.description {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
}

.buttonContainer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberOfCardsContainer {
    width: 100%;
    height: 65%;
    /*background-color: #363b44;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}